# ===== MATLAB =====
*.asv
*.m~
*.autosave
slprj/
codegen/
*.mex*
*.p

# ===== Simulink =====
*.slxc

# ===== OS / IDE =====
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===== Results & Data =====
#results/
data/raw/
*.mat
*.csv
# 但允许同步 results 中的
!results/**/*.mat
!results/**/*.csv
!results/**/*.png
!results/**/*.pdf
# ===== Logs =====
*.log
